<div class="container">
  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <h1>About Us</h1>
        <p>The people creating the Leverage application are members of Code for Philly. We hatched the idea at the Democracy Hackathon held in early Spring 2016. The 18 members hold a wide variety of skill sets and professional backgrounds including data scientists, web developers and project management to name a few. The group is composed of four teams (Data, Technology, Visualizations and Strategy), two consultants, and one subject area expert.</p>

        <p>For a comprehensive list of group members and project updates please visit our project home page at https://codeforphilly.org/projects/leverage--philly_campaign_finance.</p>

        <p>The initial target audience is the citizenry of Philadelphia. The campaign finance data being analyzed relates to candidates for the City of Philadelphia council seats.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class=content-img>
          <%= image_tag "leverage.jpg" %>
        </div>
      </div>
      <div class="col-md-6">
        <h2>Project budget</h2>
        <p>
          Currently we plan to use the funds as incentives for 
          <br>Individuals participating in focus groups: 
          <br>&gt;(Fifteen $25 gift cards)($375.00)
          <br>Paying for software packages: 
          <br>&gt;(Survey Monkey Gold Package $25.00 per month (3 months expected or $75.00)
          <br>&gt;(Waffle Takeout [ project management software $2000.00 for one year])
          <br>One team building exercises for Leverage members: 
          <br>&gt;(Escape The Room $300.00) 
          <br>Total budget $2,750
        </p>
      </div>
    </div>
  </div>
</div>